{
  "nyc": {
    "extension": [ ".js" ],
    "include": [ "build/src/**/*.js" ],
    "exclude": [ "coverage/**", "test/**", "src/client/**", "src/models/**", "src/workers/**", "**/*.d.ts", "**/*Test.ts" ],
    "require": [
      "ts-node/register",
      "source-map-support/register"
    ],
    "reporter": [ "html", "text-summary" ],
    "sourceMap": true,
    "cache": true,
    "instrument": false,
    "all": true
  }
}